.bg-custom {
background-color: #303f9f;
}
.navbar .nav-item:hover .nav-Link {
background-color: white;
color: #303f9f;
border-radius: 15px;
}

  .btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }
        .btn a {
            font-size: 12px;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
        }
        td {
            padding: 0;
        }

                           .cCarousel-item {
  width: 300px;
  height: auto;
  border: 2px solid grey;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cCarousel-item img {
  width: 100%;
  object-fit: cover;
  min-height: 300px;
  color: white;
}

.cCarousel-item .infos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
  color: black;
  padding:10px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} article{
margin:1rem;}
        body {
            font-family: Arial;
            font-size: 17px;
            padding: 8px;
        }
        * {
            box-sizing: border-box;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -16px;
        }
        .col-25 {
            flex: 25%;
        }
        .col-50 {
            flex: 50%;
        }
        .col-75 {
            flex: 75%;
        }
        .col-25, .col-50, .col-75 {
            padding: 0 16px;
        }
        .container {
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgrey;
            border-radius: 3px;
        }
        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        label {
            margin-bottom: 10px;
            display: block;
        }
        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }
        .btn {
            background-color: #04AA6D;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }
        .btn:hover {
            background-color: #45a049;
        }
        a {
            color: #2196F3;
        }
        hr {
            border: 1px solid lightgrey;
        }
        span.price {
            float: right;
            color: grey;
        }
        @media (max-width: 800px) {
            .row {
                flex-direction: column-reverse;
            }
            .col-25 {
                margin-bottom: 20px;
            }
        }



